@import 'variable';
.contactPage{
    background-color: $light1;
    margin: 5rem;
    padding: 2rem;
    border-radius: 0px 200px 20px 0px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0,0.499);
    >h2{
        color: $primary;
        font-family: $font1;

    }
 
}
.ContactFrom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >input, textarea{
        width: 40%;
        margin: 1rem;
        padding: 9px 12px;
        border: none;
        background-color:$light;
        border: 1px solid $primary;
        border-radius: 10px;
        color: $primary;
        font-size: 1rem;
        &:focus{
            outline: none;
        }
    }
    >button{
        margin: 2rem;
        width: 30%;
        padding: 4px 4px;
        border: none;
        background-color: $primary;
        border-radius: 10px;
        color: $denger;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: $hover;
            color: $light;
        }
    }

}

@media(max-width:900px){
    .ContactFrom{

        >input, textarea{
            width: 70%;
        }
         >button{
            width: 40%;
         }
      }
}

@media(max-width:600px){

    .contactPage{
        margin: 1rem;
        margin-top: 2rem;
    }
  .ContactFrom{

    >input, textarea{
        width: 90%;
    }
    >button{
        width: 50%;
     }
  }
}
