@import "variable.scss";
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #000;
    padding: 1rem;
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
       >img{
        height: 40px;
       }
      >h1{
        color: $primary;
        font-family: $font3;
        font-weight: bold;
         display: flex;
         margin-top: 2px;
        font-size: 1.40rem;
        
    
      }

      a{
        margin: 0 1.50rem;
        color: $primary;
        font-family: $font3;
        transition: all 0.3s ease-in-out;
        font-size: 1.10rem;

        &:hover{
            color: $hover;
        }
        >svg{
            font-size: 20px;
        }
      }
    }

}

@media(max-width: 600px) {
    .navbar{
     padding: 0.30rem;
     flex-direction: column;
    
     >div{
        margin-bottom: 0.20rem;
        >a{
          margin: 0 0.50rem;
        }
        >h1{
            font-size: 1.30rem;
        }
     }
   
    }
    
}