@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

// color set on variable :
$primary:rgb(80, 35, 20);
$secondary:rgb(214, 35, 0);
$hover:rgb(167, 27, 0);
$light:rgb(231, 223, 210); // main-bacground
$light1: rgb(252, 249, 246); 
$denger:rgb(245, 235, 220);//  blod text color
$denger1:rgb(187, 163, 145); // light text color
$light1:rgb(245, 235, 220);

// font
 $font1:'Baloo Bhaina 2', cursive;
 $font2:'Lato', sans-serif;
 $font3:'Baloo Bhaina 2', cursive;
 $font4:'Arimo', sans-serif;
